{#
 # Base layout template
 # ------------------------
 #}
<!doctype html>
<html lang="en-GB">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% hook 'seo' %}

    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="https://kit.fontawesome.com/c06cadf13e.js" crossorigin="anonymous"></script>

    {% block headerScripts %}{% endblock %}

  </head>

  <body class="{% include '_includes/darkThemeCookie' %}{% if bodyClass is defined %} {{ bodyClass }}{% endif %}">

    {% block body %}{% endblock %}

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/app.js"></script>

    {% block footerScripts %}{% endblock %}

    {% include '_includes/photoswipe' %}

  </body>

</html>
