{% extends '_layouts/structure/site' %}

{% block main %}

  <section class="hero-section pb-0 hero-spacer" style="background-image: url('/uploads/images/hero_bg_3.jpg')">
    <div class="container-fluid hero-wrapper">
      <div class="row">
        <div class="col-md-9 mx-md-auto">
          <h1>I'm Alex Crane, a professional photographer based in Berkshire</h1>
        </div>
      </div>
    </div>
    <img class="avatar" src="/uploads/images/person_7.jpg">
  </section>

  <section class="card-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="heading-divider">My Specialties</h2>
        </div>
      </div>
      <div class="row">

        {% set cardContent = entry.cards.all() %}
        {% for block in cardContent %}

          {% set cardImage = block.cardImage.one() %}

          <div class="card col-12 col-md-6 col-xl-3">
            <div class="card-inner">

              {% if cardImage %}
                <div class="card-media">
                  <img class="img-fluid" src="{{ cardImage.url() }}">
                </div>
              {% endif %}

              <div class="card-body {% if not block.cardLink.isEmpty() %}pb-2{% endif %}">
                {{ block.cardBody }}
              </div>

              {% if not block.cardLink.isEmpty() %}
                <div class="card-link">
                  <a href="{{ block.cardLink.getUrl() }}" class="stretched-link"><i class="fal fa-long-arrow-right"></i></a>
                </div>
              {% endif %}

            </div>
          </div>

        {% endfor %}

      </div>
    </div>
  </section>

  <section class="testimonial-section" style="background-image: url('/uploads/images/hero_bg_1.jpg');">
    <div class="container-fluid testimonial-wrapper">
      <div class="row">
        <div class="testimonial-body col col-md-10 col-lg-7 mx-md-auto text-center">
          <img class="avatar sm mb-4" src="/uploads/images/person_3.jpg">
          <blockquote>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident suscipit dicta repellat, sit aut at nulla quam sed, neque voluptatum deserunt, vero ipsum natus sint culpa illo. Vel, sed, assumenda."</blockquote>
          <cite>- Mike Hock</cite>
        </div>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col text-center">
          <h2 class="heading-divider">My Work</h2>
        </div>
      </div>
      <div class="row mx-3 mx-sm-0">

        {% include "_includes/services" %}

      </div>
    </div>
  </section>

  <section class="callToAction-section">
    <div class="container">
      <div class="row">
        <div class="col d-md-flex align-items-md-center text-center">
          <h2 class="mb-5 mb-md-0">Need a Photographer?</h2>
          <a href="/contact/" class="btn btn-primary ml-md-auto">Contact Me</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
