
header {

  .navbar {
    background-color: #f1f1f1;
    padding: .75rem 1rem;

    .navbar-brand {
      h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 0;
      }
    }

    .navbar-toggler {
      .navbar-toggler-icon {
        height: auto;
        width: auto;

        i {
          color: #000;
        }
      }
    }

    .navbar-collapse {
      margin-top: 1rem;

      @include media-breakpoint-up(md) {
        margin-top: 0;
      }

      .navbar-nav {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 15px;

        @include media-breakpoint-up(md) {
          border-bottom: none;
          padding: 0 0 0 0;
        }

        &:last-of-type {
          border-bottom: none;
          padding-bottom: 0;
        }

        .nav-link {
          color: #000;
        }
      }

      .dropdown-toggle {
        &:after {
          margin-left: .3em;
          vertical-align: .15em;
        }
      }

      span {
        width: 30px;
      }
    }
  }
}
